<div class="container h-screen flex justify-between gap-10 md:px-24">
  <div
    class="card h-4/6 w-1/3 border-2 border-pink-600 rounded-3xl hover:scale-105 transition-transform duration-700"
  >
    <div>
      <img src="" alt="" />
    </div>
    <div>
      <p></p>
    </div>
  </div>
  <div
    class="card h-4/6 w-1/3 border-2 border-pink-600 rounded-3xl hover:scale-105 transition-transform duration-700"
  >
    <div>
      <img src="" alt="" /><div></div>
      <p></p>
    </div>
  </div>
  <div
    class="card h-4/6 w-1/3 border-2 border-pink-600 rounded-3xl hover:scale-105 transition-transform duration-700"
  >
    <div>
      <img src="" alt="" />
    </div>
    <div>
      <p></p>
    </div>
  </div>
</div>
