---

---

<div class=" md:px-24 flex flex-col">
  <div class="hero flex md:py-40">
    <div class="hero-txt md:w-1/2 box-border">
      <div class="flex flex-col gap-y-10">
        <div class="hero-title font-medium text-[62px] leading-tight">
          <h1>
            <span class="block">Ocean Island hostel</span>
            <span class="block">apartments, suites</span>
            <span class="block">& more</span>
          </h1>
        </div>

        <div class="hero-subtitle">
          a wide array of rooms to suit your budget and lifestyle.
        </div>

        <div class="hero-btn z-10">
          <button class="p-[3px] relative">
            <div
              class="absolute inset-0 bg-gradient-to-r from-pink-500 via-pink-600 to-pink-700 rounded-lg"
            >
            </div>
            <div
              class="px-8 py-2 rounded-[6px] relative group transition duration-200 text-white bg-slate-900 hover:bg-transparent"
            >
              Book Now
            </div>
          </button>
        </div>
      </div>
    </div>

    <div class="hero-images md:w-1/2 flex gap-x-5 pl-5 box-border">
      <div class="images-left flex flex-col gap-5">
        <div class="img-top">
          <img
            class="w-[357px] h-[260px] rounded-[2.3rem]"
            src="/public/images/suit.jpg"
            alt=""
          />
        </div>

        <div class="img-bottom">
          <img
            class="w-[357px] h-[412px] rounded-[2.3rem]"
            src="/public/images/hallway.jpg"
            alt=""
          />
        </div>
      </div>

      <div class="images-right  flex items-center pt-10">
        <img
          class="w-[357px] h-[530px] rounded-[2.3rem]"
          src="/public/images/building.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
