<nav class="font-poppins z-50 fixed w-full bg-slate-900 flex py-5 h-20 md:px-24">
  <div class="nav-left w-full text-3xl flex  font-lobster">Ocean Island</div>
  <div class="nav-right flex w-full">
    <div class="nav-menu-wrapper w-full font-medium flex items-center justify-end gap-x-10">
      <div class="nav-menu cursor-pointer"><p>Rooms</p></div>
      <div class="nav-menu cursor-pointer"><p>About Us</p></div>
      <div class="nav-menu cursor-pointer"><p>Services</p></div>
    </div>
  </div>
</nav>
